################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Obsidian Engine/.vs/Obsidian Engine
/Obsidian Engine/Obsidian.Studio/bin/Debug
/Obsidian Engine/Obsidian.Studio/obj
/Obsidian Engine/Obsidian.Studio/bin/x64/Debug/net6-windows
/External/Builds
/Obsidian Engine/Obsidian.Studio/bin/x64
