################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Obsidian Engine/.vs/Obsidian Engine
/Obsidian Engine/Obsidian.Studio/bin/Debug
/Obsidian Engine/Obsidian.Studio/obj
